.news_new_code {
  color: #009800;
  margin-bottom: 8px; 
}

.news_new_paper {
  color: #980000;
  margin-bottom: 8px; 
}

.news_source_code {
  color: #9bb68f;
}

.news_source_intern {
  color: #b47a1f;
}